<p id="notice"><%= notice %></p>

<h2 class="text-center">Adivinhar</h2>

  <section class="row">
    <div class="small-10 small-centered guru-presenter-symbol center">

    </div>
  </section>
  <div class="row numbers">
    <div class="small-12 medium-8 columns small-centered">
      <section class="row">
        <% for i in 0..95 %>
        <div class="small-3 medium-2 large-1 columns number text-center">
          <strong>
            <%= rand(0..99) %>
          </strong>
        </div>
        <% end %>
      </section>
    </div>
  </div>
