<div class="new-gamer">
  <div ng-controller="NewGamerCtrl" class="dialogdemoBasicUsage" id="popupContainer" ng-cloak="">
    <div class="dialog-demo-content" layout="row" layout-wrap="" layout-margin="" layout-align="center">
      <span ng-init="showAdvanced($event)"></span>
      <%= render 'formscript' %>
    </div>
  </div>
</div>
